.choice {
    background-color: $bg;
    background-image: url(../img/people.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    padding-top: 93px;
    padding-bottom: 100px;
    margin-bottom: 120px;
    &__wrap {
        width: 51%;
    }
    &__text {
        font-size: 18px;
        line-height: 30px;
        color: $grey;
        margin: 20px 0 40px;
    }
    &__link {
        position: relative;
        padding: 17px 69px 17px 33px;
        &::after {
            content: "";
            width: 24px;
            height: 24px;
            background-image: url(../img/arrow-right.svg);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 18px;
            margin-left: 12px;
        }
    }
}
@media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
    .choice {
        background-image: url(../img/people@2x.png);
    }
}
